<!DOCTYPE html>
<head>
    <title><%= title %> - Veranda</title>

    <link rel='stylesheet' type='text/css' href='/css/theme.css'>

    <script type='text/javascript' src='/js/veranda.js'></script>
	<script type='text/javascript' src='/js/views/<%- view %>.js'></script>
</head>
<body>
