/* Answer */

.answer-list {
    display: flex;
    flex-direction: column;

    .answer {
        border: 1px solid $grey1;
        border-radius: 3px;
        margin: 15px 0;
        min-height: 200px;
    }
}
