/* Answer */

.answer-list {
  display: flex;
  flex-direction: column;

  .answer {
    border: 1px solid $grey1;
    border-radius: 3px;
    margin: 15px 0;
    min-height: 200px;

    .upvotebutton {

      float : left;
      margin-right: 1%;

      &:hover {
        color : orange;
      }
      &.upvoted {
        color : orange;
      }
    }

    .createdby {
      float : right;
    }

    .timeposted {
      float : left;
    }

    .timemodified {
      float : right;
    }
  }
}

.answer-new {
  .answer-new-controls {
    display: inline-block;
    margin: 25px 10px;
    position: relative;
    transform: translateY(-50%);
    float: right;
    .answer-new-btn {

      border: 1px solid $blue1;
      border-radius: 2px;
      padding: 4px 12px;

      @extend .clickable;

      &.right {
        float: right;
      }

      &.left {
        float: left;
      }

      &:hover, &:active {
        background: $blue2;
        color: $purple1;
      }
    }
  }
  @extend .clearfix;
}
