/* Top Navigation Bar */

header.top-navigation-bar {
    width: 100%;
    height: $topbar_height;
    background: $black;
    color: #fff;
    text-align: center;

    > h1 {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2em;
        padding: 0;
        margin: 0;
        letter-spacing: 0.03em;

        @media (max-width: $breakpoint_mobile_large) {
            max-width: 330px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        @media (max-width: $breakpoint_mobile) {
            max-width: 200px;
        }

        @media (max-width: $breakpoint_tiny) {
            max-width: 100px;
        }

        @extend .clickable;
    }

    .navigation-btn {
        display: inline-block;
        border: 1px solid $blue1;
        border-radius: 2px;
        margin: 0 10px;

        position: relative;
        top: 50%;
        transform: translateY(-50%);

        padding: 4px 12px;

        @extend .clickable;

        &.right {
            float: right;
        }

        &.left {
            float: left;
        }

        &:hover, &:active {
            background: $blue2;
            color: $purple1;
        }
    }

    @import 'drawer';

    @import 'search';
}
