/* Colour Guide */

$black: #000;
$black2: #333;

$blue1: #22A2F2;
$blue2: #5EBDF7;
$blue3: #448cb9;
$blue4: #e9f7ff;

$purple1: #4448b9;
$purple2: #f4f4ff;

$grey1: #E3E3E3;
$grey2: #fafafa;
