/* SignupBox */
.view {
  background-color: $grey4;

  .signup {
    position : relative;
    margin   : 3.25em auto 0.5em auto;

    .signup-title {
      position                : relative;
      top                     : 50%;
      padding                 : 0.4em 0.1em;
      color                   : #fff;
      border-top-left-radius  : 4px;
      border-top-right-radius : 4px;
      background              : $black;
      text-align              : center;
      font-size               : 1.75em;
      font-weight             : bold;
      transition              : translateY(-50%);
    }

    .signup-box-container {
      display : block;
      margin  : 0 auto;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

      .signup-box {
        display                    : block;
        position                   : relative;
        padding                    : 1em;
        border-right               : 1px solid $grey2;
        border-bottom              : 1px solid $grey2;
        border-left                : 1px solid $grey2;
        border-bottom-right-radius : 4px;
        border-bottom-left-radius  : 4px;
        background                 : white;
      }

      .mode {
        display: block;

        .btn.instructor-button {
          position: relative;
          background-color: white;
          color: black;
          font-size: 0.8em;
          font-weight: bold;
          border: 1px solid black;
          border-radius: 0.4em;
          padding: 0.3em;
          width: 6em;
          left:25%;
        }

        .btn.student-button {
          position: relative;
          background-color: white;
          color: black;
          font-size: 0.8em;
          font-weight: bold;
          border: 1px solid black;
          border-radius: 0.4em;
          padding: 0.3em;
          width: 6em;
          left: 35%;
        }

        .btn.instructor-button:hover {
          background-color: black;
          color: white;
        }

        .btn.student-button:hover {
          background-color: black;
          color: white;
        }
      }


      .sign-up {
        display    : block;
        position   : absolute;
        margin-top : 25%;
        color      : #0000FF;
      }
    }
  }
}
